extends layout

block content
  h1 Welcome to ITMD 442 - Final Project - Figure Tracker
  p  by Rafael Armenta
  h2 Introduction
  p --- Insert Project Description Here ---
  p Please click the link below to travel to your Figure Collection
  a(href='/login/') Log-in/Sign-Up
  h3 My Contact Info
  p Rafael Armenta
  p rarmenta@hawk.iit.edu


