extends layout

block content
  h1 Welcome to ITMD 442 - Final Project - Figure Tracker
  p  by Rafael Armenta
  h2 Introduction
  p Hello and Welcome to my Final Project. For my final project I decided to make some kind of figure collection tracker of some sorts as I thought it would be kind of fun to make. Additionally, I feel like I may be able to use this even after the semester ends as I feel like I could use this to track my future figure purchases. Of course, I will be updating this website as time goes on as a side project of mine. So far this website is able to record various information about some figures like the figure name, the series they're from, they're scales, when they come out, the manufacturer, and I even left some space for a URL so I can view it from the place I bought it from. In the future I hope to add more features such as being able to sort and filter figures, have a better database setup, fix the autentication problem I had, and simply make the website look and feel nicer. Anyways, here is my project and below here is the log-in/sign-up link.
  p Please click the link below to log-in or sign-up
  a(href='/login/') Log-in/Sign-Up
  h3 My Contact Info
  p Rafael Armenta
  p rarmenta@hawk.iit.edu


